body {
    background-color: rgba(128, 128, 128, 0.678);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section {
    background-color: white;
    text-align: center;
    
}

h1{
    text-align: center;
}
